

body {
	background-image: url('https://res.cloudinary.com/kinskin/image/upload/v1570891848/Cryptocurrency-Wallpaper-5_n7yylb.jpg');
	background-position: center top;
	background-size: cover;
	top:0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav{
	margin:15px;
	height:50px;
	width:100%;
	font-size: 18px;
	display: flex;
	flex:row;
	align-items: center;
}

.bitLogo{
	background-image: url('https://res.cloudinary.com/kinskin/image/upload/v1570892714/hiclipart.com-id_nmmog_bj2lvu.png');
	background-size: cover;
	background-position: center;
	height:50px;
	width: 50px;
}
a{
	margin:15px;
	color:white;
	text-decoration: none;
}
a:hover, i:hover{
	color:lightcoral;
	cursor: pointer;

}

.rightthis {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
    right: 0;
    position: absolute;
}

.sign-up {
	border: 1px solid gold;
	border-radius: 5px;
}

.search{
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;
}

i{
	font-size: 25px;
	color:white;
}

.searchInput{
	height:30px;
	width:200px;
	border-radius: 50px;
	text-align: center;
	font-size: 18px;
}
.searchInput:focus{
	outline:none;
}

.belowNav{
	height:70vh;
	top: 25%;
  position: absolute;
  left: 50%;
  widows: 50%;
}

.form{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	position: relative;
	left: 50%;
}

form {
  width: 320px;
  display: block;
  margin: 0 auto;
  color:black;
}

form>input,
form>textarea,
form>label {
  width: 100%;
  display: block;
  margin: .5rem 0;
  color:black;
}

form>label {
  color: rgba(0,0,0,.7);
  font-size: 1rem;
  font-weight: bold;
  color:white;
}
form>input,
form>textarea {
  padding: .5rem;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.1);
}

form>button {
  padding: .5rem 1.5rem;
  background: #090;
  color: #fff;
  border: none;
  font-weight: 900;
  border-radius: 4px;
  cursor: pointer;
}